<h1>Editing Spaceshooter</h1>

<% if current_user == @spaceshooter.user %>
<%= render 'form', spaceshooter: @spaceshooter %>
<% end %>

<%= link_to 'Show', @spaceshooter %> |
<%= link_to 'Back', spaceshooters_path %>
