<h1>Editing Platformdemo</h1>

<% if current_user == @platformdemo.user %>
<%= render 'form', platformdemo: @platformdemo %>
<% end %>

<%= link_to 'Show', @platformdemo %> |
<%= link_to 'Back', platformdemos_path %>
